<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" style="margin-left: 10px;" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <div>
        <h4 class="modal-title pull-left"> <img style="height: 35px;" src="assets/img/cred_manager.png"> {{title}} </h4>
    </div>
</div>
<div class="modal-body">
    <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert()"
           class="uib-text" style="word-wrap: pre;" >{{ alert.msg }}</uib-alert>
    <div ng-if="loading" class="text-center">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
    </div>
            <form class="form-horizontal" ng-if="!loading">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Type : <span class="requiredSymbol">*</span></label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-change="refreshData()" ng-options="type as key for (key,type) in types" ng-model="data.type">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-sm-3" ng-if="data.type">
                        <img ng-src="assets/img/{{data.type}}.png" class="cred-img-add-screen">
                    </div>
                </div>
                <div ng-if="data.type">
                    <div class="form-group" ng-if="data.type == 'cloud'">
                        <label class="col-sm-3 control-label">Cloud : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-3">
                            <select class="form-control" ng-change="cloudTypeChange()" ng-options="cloud.name as cloud.name for cloud in cloudTypes" ng-model="data.cloud_name">
                            <option value="">--select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="data.credential_name" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'ssh-key' || data.type == 'pwd'">
                        <label class="col-sm-3 control-label">User Name: <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="data.user" class="form-control" placeholder="ssh_user">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'pwd'">
                        <label class="col-sm-3 control-label">Password: <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <input type="password" ng-model="data.password" class="form-control" placeholder="password">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud'">
                        <label class="col-sm-3 control-label">Key : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="data.cloud_key" class="form-control" placeholder="{{data.type == 'ssh-key' ? 'SSH-key' : 'Cloud-key'}}">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'ssh-key'">
                        <label class="col-sm-3 control-label">Key : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <textarea style="height: 200px;" id="ssh_key" ng-model="data.ssh_key" class="form-control" placeholder="Paste your ssh-key"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'ssh-key' || data.type == 'pwd'">
                        <label class="col-sm-3 control-label">Sudo Password:</label>
                        <div class="col-sm-8">
                            <input type="password" ng-model="data.ssh_sudo_pwd" class="form-control" placeholder="ssh_sudo_pwd">
                        </div>
                        <div class="col-sm-1">
                            <i tooltip-append-to-body="true" uib-tooltip="Sudo may be required to perform actions such as enabling autostart & installing system-wide components.  If your account does not have the ability to run 'sudo' without a password, enter the 'sudo password' here. If not supplied, you will be prompted for the sudo password when required." class="fa fa-info-circle" aria-hidden="true" style="margin-left: -25px;"></i>
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud'">
                        <label class="col-sm-3 control-label">Cloud Secret: <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="data.cloud_secret" class="form-control" placeholder="cloud_secret">
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.type == 'cloud'">
                        <label class="col-sm-3 control-label">Region : <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control"  ng-change="regionChange(regionSelect.region)" ng-options="region.region as region.location for region in regions" ng-model="data.region"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="updateCred">
                        <label class="col-sm-3 control-label">Cloud UUID: <span class="requiredSymbol">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="data.cred_uuid" class="form-control" placeholder="Cloud UUID">
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="text-right">
                            <button class="btn btn-default" ng-if="data.type == 'pwd' || data.type == 'ssh-key'">Test</button>&nbsp;
                            <button class="btn btn-primary" ng-if="data.type" ng-click="addCredential()">{{buttonType}}</button>
                        </div>
                    </div>
                </div>
            </form>
</div>