<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="8000" close="closeAlert($index)" class="uib-text">{{alert.msg}}</uib-alert>
<section class="content-header">
     <!-- <server-info-details title="AWS Integration"></server-info-details> -->
     <div class="components-update-title-wrapper">
	    <form class="form form-inline ">
	        <h1 class="aws-page-head"><strong>AWS Integration</strong></h1>
	    </form>
	</div>
    <div id="pgcInfoText" class="pull-left"></div>
</section>
<section class="content">
    <div class="col-md-2"></div>
    <div class="col-md-2 col-sm-3 cursor_pointer" ng-click="discover('aws', 'AWS Postgres RDS', 'rds')">
        <a class="thumbnail">
            <img class="img-responsive" src="assets/img/rds-search.png" alt="">
            <div class="aws-caption">
                <h4 class="aws-page-tile-name">Discover RDS Instances</h4>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 cursor_pointer" ng-click="createNewRds()">
        <a class="thumbnail">
            <img class="img-responsive" src="assets/img/rds-add.png" alt="">
            <div class="aws-caption">
                <h4 class="aws-page-tile-name">Create New RDS Instance</h4>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 cursor_pointer" ng-click="discover('aws', 'AWS EC2 Instances', 'ec2')">
        <a class="thumbnail">
            <img class="img-responsive" src="assets/img/ec2-search.png" alt="">
            <div class="aws-caption">
                <h4 class="aws-page-tile-name">Discover EC2 Instances</h4>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-3 cursor_pointer" ng-click="comingSoon()">
        <a class="thumbnail">
            <img class="img-responsive" src="assets/img/ec2-add.png" alt="">
            <div class="aws-caption">
                <h4 class="aws-page-tile-name">Create New EC2 Instance</h4>
            </div>
        </a>
    </div>
    <div class="col-md-2"></div>
</section>