<!-- <div ng-click="cancel()" class="close-modal" data-dismiss="modal" aria-hidden="true">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div> -->

<div class="modal-header">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
    <img src="../assets/img/logoBIG.png" alt="">
    <h4 class="modal-title" id="updateModalLabel">BigSQL Manager update</h4>
</div>
<div class="modal-body">
        <p ng-hide="bamUpdateIntiated">WE NEED TO SUSPEND THE GUI MANAGER WHILE WE UPDATE. THIS SHOULD TAKE A FEW MINUTES. <br /> CLICK THE BUTTON BELOW TO START THE PROCESS.</p>
        <div ng-show="updatingStatus" style="width:600px; margin:0 auto;">BigSQL Manager Updating {{currentVersion}} to {{updateVersion}} </div>
        <br />
        <img ng-show="updatingStatus" style="width:100px;" src="/assets/loaders/loader.gif" />
        <button class="btn btn-default" ng-hide="bamUpdateIntiated" ng-click="action($event)">Update BigSQL Manager Version {{currentVersion}} to {{updateVersion}} </button>
        <button class="btn btn-default" ng-show="bamUpdatedStatus" ng-click="redirect()"> BigSQL Manager has been updated, Click to launch</button>
        <button class="btn btn-default" ng-show="bamNotUpdatedStatus" ng-click="redirect()"> BigSQL Manager not updated</button>
    
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Update Now</button> -->
</div>
