<div class="modal-header">
    <div  class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <button type="submit" ng-click="selectFile(currentPath)" class="btn btn-primary">Select</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-lg fa-close cursor_pointer" ng-click="cancel()"></i>
    </div>
    <h4 class="modal-title">{{title}}</h4>
    <div class="row container">
        {{userName}}@{{hostIp}}:<a ng-repeat="path in currentPath.split('/') track by $index" ng-if="$index > 0" ng-click="navigateBack($index,currentPath)" style="cursor: pointer;">&nbsp;/{{path}}</a>
    </div>

</div>
<div class="modal-body browse-window" style="padding-top: 8px;">

  <div class="alert alert-danger" role="alert" ng-if="errorMsg">
      {{errorMsg}}
  </div>
  <div class="row">
    <div class="col-sm-1" ng-if="files.length>0"></div><div class="col-sm-7" ng-if="files.length>0"><b>Name</b></div><div class="col-sm-4" ng-if="files.length>0"><b>Last Accessed</b></div>
    <div ng-repeat="file in files" ng-class="(file.type == 'd') ? 'directory' : 'file'" class="col-md-12" ng-dblclick="getFiles(file.name,file.type)" style="margin: 2px 2px 6px 6px;cursor: default;">
       <div class="col-sm-8"><span ng-class="(file.type == 'd') ? 'fa fa-folder-open fa-1x directory-img' : 'fa fa-file fa-1x file-img'"></span>&nbsp;&nbsp;{{ getName(file.name) }}</div><div class="col-sm-4"> {{ file.last_accessed }}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <!--<button type="submit" ng-click="selectFile(currentPath)" class="btn btn-primary">Select</button>
    <button type="submit" ng-click="cancel()" class="btn btn-danger pull-right">Cancel</button>-->
</div>