<div class="modal-header">
    <!-- <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close"></i>
    </div> -->
</div>
<div class="modal-body">
<form class="form plProfiler-form">
    <div class="form-group">
        Are you sure want to delete files?
    </div>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">No</button>
    <button type="submit" class="btn btn-success" ng-click="removeReports()">Yes</button>
</div>