<!-- Content Header (Page header) -->
<section class="content-header">
    <!-- <form class="form form-inline "> -->
        <!-- <h3><strong>Connection Details</strong></h3> -->
    <!-- </form> -->
    <server-info-details title="Connection Details"></server-info-details>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div ng-if="loading" style="position: absolute;width: 100px; height: 50px; top: 50%;left: 50%; margin-left: -50px; margin-top: -25px;">
            <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
            <span><h3>Loading...</h3></span>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-4 col-xs-12" ng-if="!loading && !showErrormsg">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <div class="comp-det-top">
                        <div class="col-md-4"><img class="img-responsive comp-logo-img" id="component-logo" ng-src="assets/img/component-logos/pg96.png" err-src="assets/img/component-logos/no_img.png" alt="">
                        </div>
                        <div class="col-md-3">
                            <h4 class="comp-name" ng-bind="connData.server_name" id="comp_name" style="white-space: nowrap;"></h4>
                        </div>
                        <!-- <div class="col-md-5 version-wrapper">
                            &nbsp;v.<span class="" ng-bind="component.version" id="comp_version"></span>
                        </div> -->
                    </div>
                    <span class="clearfix"></span>
                    <!-- <div style="text-align: center; padding-bottom: 25px;"><b><a href="" tooltip-append-to-body="true" uib-tooltip="Check out the new features of {{ component.component }}" ng-click="openWhatsNew()"> What's New</a></b></div> -->
                    <ul class="list-group list-group-unbordered" id="comp_details">
                        <li class="list-group-item">
                            <span class="pull-left"><b>Uptime</b></span> <span class="pull-right" ng-bind="connData.up_time" id="comp_version"></span>
                        </li>
                        <li class="list-group-item" id="li-pointer">
                            <span class="pull-left"><b>Refresh Interval </b>(sec)</span>
                            <span class="pull-right"><select class="form-control" id="select-refresh-interval" ng-change="changeOption()" ng-model="opt.interval">
                            <option ng-repeat="option in optionList" value="{{option.value}}">{{option.label}}</option></select>
                            </span>
                        </li>
                    </ul>
                    <div ng-show="connData.port" class="comp-status-wrap text-center">
                        <i ng-class="statusColors['Running']" class="fa fa-stop fa-4x"></i>
                        <h4>Connected <br /><small><span>on port {{connData.port}} </span></small></h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>

        <div class="col-md-9 col-sm-8 col-xs-12" ng-if="!loading && !showErrormsg">

       
            <div class="nav-tabs-custom" id="comp-details-tabs-wrapper" ng-controller="graphsTabController">
                <uib-tabset>
                    <uib-tab heading="Overview"  active="activeOverview">
                        <div class="row tab-content graphsTab" style="padding: 15px;">
                        <div class="row"> 
                        <div class="col-md-12 col-xs-12">
                            <div class="box">
                                <uib-accordion>
                                    <uib-accordion-group is-open="true">
                                      <uib-accordion-heading>
                                        <span ng-click="tabClick()">Transactions per Second
                                            <i class="pull-right glyphicon" 
                                ng-class="{'fa fa-plus': !uibStatus.tpsChartCollapsed, 'fa fa-minus': uibStatus.tpsChartCollapsed}"></i>
                                        </span>
                                      </uib-accordion-heading>
                                        <div>
                                            <nvd3 options="transctionsPerSecondChart" data="commitRollbackData"></nvd3>
                                        </div>
                                    </uib-accordion-group>    
                                 </uib-accordion>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="box">
                                <uib-accordion>
                                    <uib-accordion-group is-open="true">
                                      <uib-accordion-heading>
                                        <span ng-click="tabClick()">Connections
                                        <i class="pull-right glyphicon" 
                                ng-class="{'fa fa-plus': !uibStatus.connectionsCollapsed, 'fa fa-minus': uibStatus.connectionsCollapsed}"></i>
                                        </span> 
                                      </uib-accordion-heading>
                                        <div>
                                            <nvd3 options="connectionsChart" data="connectionsData"></nvd3>
                                        </div>
                                    </uib-accordion-group>    
                                 </uib-accordion>
                            </div>
                        </div>
                        </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Activity">
                        <div class="row tab-content" style="padding: 10px;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="box" id="activityTab">
                                    <div class="box-header">
                                        <h3 class="box-title">PG_STAT_ACTIVITY</h3>
                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 col-xs-1"><b>PID</b></th>
                                                    <th class="col-md-5 col-xs-5"><b>Query</b></th>
                                                    <th class="col-md-2 col-xs-2"><b>Query Time</b></th>
                                                    <th class="col-md-2 col-xs-2"><b>DB</b></th>
                                                    <th class="col-md-1 col-xs-1"><b>User</b></th>
                                                    <th class="col-md-1 col-xs-1"><b>Cl. Addr.</b></th>
                                                    
                                                    
                                                </tr>
                                            </thead>
                                            <tbody ng-show="noActivities == false">
                                                <tr ng-repeat=" activity in activities">
                                                    <!-- <div class="row component_box"> -->
                                                    <td>{{activity.pid}}</td>
                                                    <td>{{activity.query}}</td>
                                                    <td>{{activity.query_time}}</td>
                                                    <td>{{activity.datname}}</td>
                                                    <td>{{activity.usename}}</td>
                                                    <td>{{activity.client_addr}}</td>
                                                    
                                                    
                                                    <!-- </div> -->
                                                </tr>
                                            </tbody>
                                            <tbody ng-show="noActivities == true">
                                                <tr>
                                                    <td colspan="6">
                                                        <p class="lead">No Database Activity.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Configure" ng-click="configureTabEvent()">
                        <div ng-if="gridSettings">
                            <div class="gridStyle" ui-grid-expandable  ui-grid="gridSettings" class="col-md-12 col-sm-12 col-xs-12"></div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Databases" ng-click="dataBaseTabEvent()">
                        <div ng-if="gridOptions">
                            <div class="gridStyle" ui-grid="gridOptions" class="col-md-12 col-sm-12 col-xs-12"></div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Security" ng-click="securityTabEvent()">
                    <div class="gridStyle">
                        <div class="box box-primary">
                            <!-- <div class="box-header with-border">
                                <h3 class="box-title"> PG hba Configuration </h3> 
                            </div> -->
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <span class="pull-left"><a href="https://www.bigsql.org/docs/security/index.jsp" target='_blank'> Documentation <i class="fa fa-external-link"></i></a></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <span class="securityTabStyle">
                                            {{securityTabContent}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </uib-tab>
                    <uib-tab heading="Performance" disable="true">
                    <div class="gridStyle">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="row">
                                    <div style="padding-top: 20px;" class="col-md-12 col-sm-12 col-xs-1">
                                        <a style="margin-right: 10px;" class="btn btn-lg btn-default" tooltip-append-to-body="true" uib-tooltip="{{ component.logdir }}" ng-show="component.logdir != ''" ui-sref="components.componentLog({component:'pgcli'})" ng-click="logdir(component.logdir) ; logdirSelect()" tooltip-class="logDataDirHover">
                                            <i class="fa fa-file-text-o fa-2x pull-left"></i>
                                            Log Tailer
                                        </a>

                                        <a style="margin-right: 10px;" class="btn btn-lg btn-default" ui-sref="components.profiler">
                                            <i class="bgs bgs-lg bgs-plprofiler pull-left"></i> plProfiler Console
                                        </a>

                                        <a class="btn btn-lg btn-default" ui-sref="components.badger">
                                            <i class="bgs bgs-lg bgs-pgbadger pull-left"></i> 
                                            pgBadger Console
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </uib-tab>
                    <uib-tab heading="Release Notes" disable="true">
                        <div class="gridStyle">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="col-md-12 col-xs-12" style="height: 700px; overflow: scroll;">
                                        <span ng-bind-html="relnotes"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        </div>
    </div>
</section>
