<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <h4 class="modal-title">Create Azure PostgreSQL Instance</h4>
</div>
<div class="modal-body" class="create-rds-modal">
    <div ng-if="loading" class="text-center">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
    </div>
    <div ng-if="firstStep && !loading" class="row">
        <div class="col-md-6">
            <div>
                <div class="box-header create-rds-cat-header"> <strong>Instance Specifications </strong></div>
            </div>
            <form class="form-horizontal create-rds-modal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Region :</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="select-region"  ng-change="regionChange(regionSelect.region)" ng-model="data.region">
                            <option value="">--select--</option>
                            <option value="southcentralus">South Central US</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Instance Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="instance" ng-model="data.instance"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Master User :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="master_user" ng-model="data.master_user"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Password :</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" ng-model="data.password"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Group Name :</label>
                    <div class="col-sm-8" ng-if="!loadingResGroups">
                        <select class="form-control" id="group_name" ng-model="data.group_name">
                            <option value="">--select--</option>
                            <option ng-repeat="res_group in res_groups" value="{{ res_group.name }}">
                                {{res_group.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2" ng-if="loadingResGroups"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Engine Version :</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="engine_version" ng-model="data.engine_version">
                            <option value="">--select--</option>
                            <option value="9.6">Postgres 9.6</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div>
                <div class="box-header create-rds-cat-header"> <strong>Connection security</strong></div>
            </div>
            <form class="form-horizontal create-rds-modal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Enforce SSL :</label>
                    <div class="col-sm-8">
                        <input type="radio" ng-model="data.ssl_mode" value="Enabled"> Enable
                        <input type="radio" ng-model="data.ssl_mode" value="Disabled"> Disable
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Default Firewall :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="start_ip" ng-model="data.start_ip" placeholder="START IP"></input>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="end_ip" ng-model="data.end_ip" placeholder="END IP"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-if="showErrMsg">
        {{errMsg}}
    </div>
</div>
<div class="modal-footer" ng-if="!loading">
    <div class="pull-right">
        <button class="btn btn-primary" ng-if="firstStep" ng-disabled="creating" ng-click="createVM()">
           <i class="fa fa-spin fa-cog" ng-if="creating"></i> Create
        </button>
    </div>
</div>