<section class="content-header">
    <h1 class="components-update-title-wrapper">
        Hosts Manager
    </h1>
</section>

<span id="components"></span>
<section class="content">
    <div ng-if="loading"
         style="position: absolute;width: 100px; height: 50px; top: 50%;left: 50%; margin-left: -50px; margin-top: -25px;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
        <span><h3>Loading...</h3></span>
    </div>
    <span ng-if="retry" style="text-align: center;"> <h4>Cannot connect to PGC. Retrying connection ... </h4> </span>

    <div ng-if="nothingInstalled" class="jumbotron"
         style="background-color: #fff; margin-top: 15px; text-align: center;"><h3> You haven't registered any
        hosts.</h3></div>

    <div class="hostmanager-accordian-wrapper" ng-if="!loading">
        <div class="box">
            <div class="box-header">
                <button class="btn btn-default pull-right" ng-click="open()">Add</button>
            </div>
            <div class="box-header">
                <div class="pull-left">Hosts</div>
            </div>
            <uib-accordion close-others="true">
                <uib-accordion-group ng-repeat="host in hostsList" is-open="host.open">
                    <uib-accordion-heading>
                            <span ng-click="loadHost($index,false)"> {{ host.host }}
                                <i class="pull-left glyphicon" ng-class="{'fa fa-plus': !host.open, 'fa fa-minus': host.open}"></i>
                            </span>
                            <div class="pull-right" style="margin-top: -10px">
                                <span ng-click="loadHost($index,false)" ng-if="!host.open && host.hostInfo">
                                    {{host.hostInfo.os}} {{ host.hostInfo.mem }} GB, {{ host.hostInfo.cores }} x {{host.hostInfo.cpu}}
                                </span>&nbsp;
                                <button type="button" ng-click="$event.stopPropagation();$event.preventDefault();openNewLocation(); loadHost($index,true)" class="btn btn-default" ng-if="host.open">Refresh</button>&nbsp;
                                <button type="button" ng-click="$event.stopPropagation();$event.preventDefault();openNewLocation(); UpdateManager($index)" class="btn btn-default" ng-if="host.open" class="ng-binding" href="" >Update Manager</button>&nbsp;
                                <button type="button" ng-click="$event.stopPropagation();$event.preventDefault();openNewLocation(); showTop($index)" class="btn btn-default" ng-if="host.open" class="ng-binding" href="">Top</button>&nbsp;
                                <div class="btn-group" uib-dropdown >
                                    <button id="split-button " type="button" ng-click="$event.stopPropagation();$event.preventDefault();openNewLocation(); open($index)" class="btn btn-default " ng-disabled="host.host=='localhost'" >Edit</button>
                                    <button type="button" ng-click="$event.stopPropagation();$event.preventDefault();openNewLocation()" class="btn btn-default " ng-disabled="host.host=='localhost'"  uib-dropdown-toggle>
                                        <span class="caret "></span>
                                        <span class="sr-only ">Split button!</span>
                                    </button>
                                    <ul uib-dropdown-menu role="menu " aria-labelledby="split-button ">
                                        <li><a  ng-click="$event.stopPropagation();$event.preventDefault();openNewLocation(); deleteHost($index)" href="">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                    </uib-accordion-heading>
                    
                    <div class="col-md-6 col-sm-12 col-xs-12" ng-if="host.hostInfo.home">
                        <span style="float: right;" ng-click="loadHost($index,true)">


                        </span>

                        <p><strong>PGC : </strong>{{ host.hostInfo.version }} {{ host.hostInfo.home }}</p>

                        <p><strong>User & Host : </strong> {{ host.hostInfo.user }} {{ host.hostInfo.host }}</p>

                        <p><strong>Hardware : </strong>{{ host.hostInfo.cores }}GB, {{ host.hostInfo.cores }}
                            x {{ host.hostInfo.cpu }}</p>

                        <p><strong>Platform & OS : </strong>{{ host.hostInfo.platform }} {{ host.hostInfo.os }}</p>

                        <p><strong>Repo URL : </strong>{{ host.hostInfo.repo }}</p>
                    </div>

                    <div ng-if="!host.comps">
                        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
                        <span><h3>Loading...</h3></span>
                    </div> 

                    <div class="col-md-6 col-sm-12 col-xs-12" ng-if="host.comps">
                        <div ng-if="host.showMsg" class="jumbotron"
                             style="background-color: #fff; margin-top: 15px; text-align: center;">
                            <h4> No PostgreSQL or server components installed.<br \> Visit the <a ng-click="UpdateManager($index)" href="">Update
                                Manager</a> to install components.</h4>
                        </div>
                        <div class="box" ng-if='host.showMsg == false'>
                            <div class="box-header with-border">
                                <h3 class="box-title">Services</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table" id="serversTable">
                                    <thead>
                                    <tr>
                                        <th class="col-md-3 col-xs-3">Component</th>
                                        <th class="col-md-5 col-xs-5">Status</th>
                                        <th class="col-md-1 col-xs-1"></th>
                                        <th class="col-md-3 col-xs-3">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="serversTableBody">
                                    <tr ng-repeat="comp in host.comps" ng-if="comp.component != 'devops'">
                                        <td class="col-md-3 col-xs-3">
                                            <div ng-if="comp.category != 1">
                                                <a ui-sref="components.detailsView({component:comp.component}) ">
                                                    {{ comp.component }}
                                                </a>
                                            </div>
                                            <div ng-if="comp.category == 1">
                                                <a ui-sref="components.detailspg95({component:comp.component}) ">
                                                    {{ comp.component }}
                                                </a>
                                            </div>
                                        </td>
                                        <td class="col-md-5 col-xs-5"><i ng-class="statusColors[comp.state]"
                                                                         style="margin-top:2px;margin-right:10px"
                                                                         class="fa fa-stop fa-2x pull-left"></i>

                                            <div style="margin-top: 5px" ng-show="comp.port">{{ comp.state }} on
                                                port {{ comp.port }}</div>
                                            <div style="margin-top: 5px" ng-show="!comp.port">{{ comp.state }}</div>
                                        </td>
                                        <td class="col-md-1 col-xs-1">
                                            <span ng-show="comp.showingSpinner"><i
                                                    class='fa fa-spinner fa-2x  fa-pulse'></i></span>
                                        </td>
                                        <td class="col-md-3 col-xs-3" value="{{ comp.component }}" ng-click="action( $event, host.host)">
                                            <a class="btn btn-default" ng-show="comp.state =='Not Initialized' "
                                               ng-disabled=" comp.showingSpinner != undefined">Initialize</a>
                                            <a class="btn btn-default" id="install" ng-show="comp.state =='Stopped'"
                                               ng-disabled=" comp.showingSpinner != undefined">Start</a>

                                            <div class="btn-group" uib-dropdown ng-show="comp.state =='Running'">
                                                <button id="split-button" type="button" class="btn btn-default"
                                                        ng-disabled="{{ comp.component=='devops' }}">Action
                                                </button>
                                                <button type="button" class="btn btn-default" uib-dropdown-toggle
                                                        ng-disabled="{{ comp.component=='devops' }}">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Split button!</span>
                                                </button>
                                                <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                    <li role="menuitem"><a>Stop</a></li>
                                                    <li role="menuitem"><a>Restart</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                        <!-- /.box -->
                    </div>


                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

</section>