<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <h4 class="modal-title">Connect to Server</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" role="alert" ng-if="errorMsg">
            {{errorMsg}}
        </div>
    <form class="form-inline" ng-if="!connecting">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Password : </label>
      <input type="password" name="" ng-model="pswd">
      <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
        <input type="checkbox" name="" ng-model="connection.savePwd">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Save Password</span>
      </label>
      <button type="submit" ng-click="submitPassword(pswd)" class="btn btn-primary pull-right" ng-disabled="!pswd">Connect</button>
    </form>
    <div ng-if="connect_err">{{connect_err}}</div>
    <div ng-if="connecting" class="text-center"><i class='fa fa-spinner fa-2x  fa-pulse'></i> &nbsp; Connecting....</div>
</div>