<section class="content-header">
    <h1 class="components-update-title-wrapper">
        plProfiler Console
    </h1>
</section>

<section class="content">
    <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <strong>Connection Information</strong>
            </div>
            <div class="box-body">
                <form class="form plProfiler-form">
                    <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" ng-model="hostName" required class="form-control" placeholder="Hostname">
                        <span class="required-plprofiler-form">*</span>
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" ng-model="pgUser" required class="form-control" placeholder="DB User">
                        <span class="required-plprofiler-form">*</span>
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group">
                        <input type="password" ng-model="pgPass" class="form-control" placeholder="DB Password">
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" ng-model="pgDB" required class="form-control" placeholder="DB Name">
                        <span class="required-plprofiler-form">*</span>
                    </div>
                    </div>
                    <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" ng-model="pgPort" required class="form-control" placeholder="DB Port">
                        <span class="required-plprofiler-form">*</span>
                    </div>
                    </div>
                </form>
                <div class="text-left col-md-12">
                   <span class="required-symbol">*</span> Required Field
                </div>
            </div>
        </div>

        <button class="btn btn-default pull-left" ng-disabled="!(hostName && pgUser && pgDB && pgPort)" ng-click="queryProfiler(hostName, pgUser, pgPass, pgDB, pgPort, pgTitle, pgDesc)"> Statement Profiling </button>
        <button class="btn btn-default pull-right" ng-disabled="!(hostName && pgUser && pgDB && pgPort)" ng-click="globalProfiling(hostName, pgUser, pgPass, pgDB, pgPort, pgTitle, pgDesc)"> Global Profiling </button>
    </div>
    <div class="col-md-9 col-sm-6 col-xs-12">
        <div ng-if="generatingReportSpinner">
            <span>
                <i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>Generating...
            </span>
        </div>
        <span ng-if="report_file"><a href="/reports/{{ report_file }}" target="_blank">Click Here to See the Report in New Tab</a>
        </span>
        <a class="btn btn-default pull-right" ng-click="openRecentReports()">
                            Recent Reports
                            </a>
        <iframe ng-if="report_file" ng-src="{{ report_url }}" width="100%" height="500px">
        </iframe>
        <span ng-if="!report_file" ng-bind="errorMsg"></span>
    </div>
 </div>
</section>