<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" style="margin-left: 10px;" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <div>
        <button class="btn btn-default pull-right" ng-if="rdsList" ng-disabled="!isAllSelected && !checked" ng-click="createConnPgadmin()">Create connections in pgAdmin4</button>&nbsp;
        <h4 class="modal-title pull-left"> {{disp_name}} </h4>
    </div>
</div>
<uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" dismiss-on-timeout="8000" close="closeAlert()"
           class="uib-text">{{ alert.msg }}</uib-alert>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-xs-12" ng-if="loadingSpinner">
            <div class="well">
                <i class="fa fa-spinner fa-2x  fa-pulse"></i>&nbsp; {{discoverMsg}}
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="well" ng-bind="errMsg" ng-if="!loadingSpinner && !rdsList">
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="well" ng-if="addToMetadata">
                <i class="fa fa-spinner fa-2x  fa-pulse"></i> &nbsp; {{addToMetadataMsg}}
            </div>
        </div>
        <div ng-if="availList.length > 0 && !addToMetadata">
            <div class="box-body">
                <div id="serversTable">
                <div class="component_head_box">
                    <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected" name="">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8"><strong>Region</strong></div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div class="col-md-2 col-sm-2 col-xs-2"><strong>Instance</strong></div>
                        <div class="col-md-1 col-sm-1 col-xs-1"><strong>User</strong></div>
                        <div class="col-md-1 col-sm-1 col-xs-1"><strong>Port</strong></div>
                        <div class="col-md-2 col-sm-2 col-xs-2"><strong>Database</strong></div>
                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Address</strong></div>
                    </div>
                    </div>
                </div>
                <div id="serversTableTbody">
                    <div ng-repeat="rds in availList" class= "component_box" ng-class-odd="'oddRow'" style="border-bottom: 1px solid #f4f4f4;">
                        <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="col-md-4 col-sm-4 col-xs-4"><input type="checkbox" ng-model="rds.selected" ng-click="optionToggled()" name=""> </div>
                            <div class="col-md-8 col-sm-8 col-xs-8" style="white-space: nowrap;">
                                {{rds.region}}
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <div class="col-md-2 col-sm-2 col-xs-2" style="white-space: nowrap;">
                                {{rds.instance}}
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1" style="white-space: nowrap;">
                                {{rds.master_user}}
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1" style="white-space: nowrap;">
                                {{rds.port}}
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2" style="white-space: nowrap;">
                                {{rds.dbname}}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="white-space: nowrap;">
                                {{rds.address}}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>