<div class="modal-header">
    <h3 class="modal-title">Recent Reports</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <span><label>Report</label></span>
            <span class="pull-right"><label>Created on</label></span>
            <div ng-repeat="c in files_list">
                <label>
                    <!--<input type="checkbox" name="report_file" value="{{ c.file_link }}">-->
                    <span>&nbsp;{{ c.file }}</span>
                </label>&nbsp;&nbsp;<a target="_blank" href="{{ c.file_link }}"><i class="fa fa-external-link"></i></a>
                <span class="pull-right">{{ c.mtime }}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-disabled="switchBtn" ng-click="cancel()">Close</button>
</div>