<div class="modal-header">
    <div ng-click="cancel()" class="close-modal pull-right" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-lg fa-close cursor_pointer"></i>
    </div>
    <h3 class="modal-title">Recent Reports</h3>
</div>
<div class="modal-body">
        <div ng-if="!showError">
            <div style="border-bottom: 1px solid #f4f4f4;">
            <span style="padding-left: 15px;"><label>Report</label>&nbsp; &nbsp;<input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected">&nbsp;Select all </span>
            <span class="pull-right" style="padding-right: 15px;"><label>Created on</label></span>
            </div>
            <div class="box-body" style="padding-left: 20px; max-height: 300px; overflow: auto;">
                <div ng-repeat = "option in files_list">
                    <label>
                    <input type="checkbox" ng-model="option.selected" ng-change="optionToggled()">
                    <span>&nbsp;{{ option.file }}</span>
                    </label>
                    &nbsp;&nbsp;<a target="_blank" href="{{ option.file_link }}"><i class="fa fa-external-link"></i></a>
                    <span class="pull-right">{{ option.mtime }}</span>
                </div>
            </div>
        </div>
        <div ng-if="showError">
            You haven't generated any reports.
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-right" ng-click="removeFiles(files_list, false)" ng-if="!showError" ng-disabled="!isAllSelected && !checked" ng-click="deleteReports(files_list, true)">Delete</button>
</div>