<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white;" role="alert">
        <div ng-transclude></div>
    </div>
</script>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="8000" close="closeAlert($index)" class="uib-text">{{alert.msg}}</uib-alert>
<section class="content-header">
     <server-info-details title="Settings"></server-info-details>
    <div id="pgcInfoText" class="pull-left"></div>
</section>
<section class="content">
    <div class="row">
    <div ng-if="loading" style="position: absolute;width: 100px; top: 50%;left: 50%; margin-left: -50px; margin-top: -25px;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
        <span><h3>Loading...</h3></span>
    </div>
    <span ng-if="pgcNotAvailable && !loading" style="text-align: center;"> <h4>{{errorData.msg}}</h4> </span>
    <div ng-if="!loading && !pgcNotAvailable">
        <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="box">
            <div class="box-header with-border">
                <h4><strong> PGC Server Info </strong></h4></div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>PGC:</strong></div>
                            <div class="col-md-9">{{pgcInfo.version}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>User &amp; Host:</strong></div>
                            <div class="col-md-9">{{pgcInfo.user}} &nbsp; {{pgcInfo.host}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>OS:</strong></div>
                            <div class="col-md-9">{{pgcInfo.os}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>pip:</strong></div>
                            <div class="col-md-9">{{pgcInfo.pip_ver}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>Python:</strong></div>
                            <div class="col-md-9">{{pgcInfo.python_ver}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>Hardware:</strong></div>
                            <div class="col-md-9">{{pgcInfo.mem}} GB, {{pgcInfo.cpu}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="col-md-3"><strong>Repo URL:</strong></div>
                            <div class="col-md-9">{{pgcInfo.repo}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-md-8">
                    <h4><strong> Check for updates </strong></h4>
                </div>
                <div class="col-md-4">
                    <button type="button" id="check-updates" class="btn btn-default pull-right" id="checkNow" ng-click="open('manual')">Check now</button>
                </div>
            </div>
            <div class="box-body">
                <p class="col-md-12 col-xs-12 col-sm-12" ng-if="lastUpdateStatus" id="last-update-status">The last time you checked for updates was at {{lastUpdateStatus}}</p>
                <p class="col-md-12 col-xs-12 col-sm-12" ng-if="!lastUpdateStatus" ng-bind="lastUpdateNone"></p>
            </div>
        </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="box">
           <div class="box-header with-border">
                <label>
                    <h4>
                        <strong> pgDevOps Labs </strong>
                    </h4>
                </label>
            </div> 
            <div id="serversTableTbody">
                <div ng-repeat="lab in lablist" class="row lab_row">
                    <div class="col-md-9">
                        <div style="margin-bottom: 7px;">
                            <div><strong>{{lab.disp_name}}</strong></div>
                            <div class="labDescription">{{lab.credit_to}}</div>
                        </div>
                        <div class="labDescription" ng-bind-html="lab.markdownDesc"></div>
                    </div>
                    <div class="col-md-3">
                        <label><input type="radio" id="{{lab.lab}}-enable" ng-model="lab.enabled" value="on" name="{{lab.lab}}" ng-click="changeSetting(lab.lab, 'on')"> Enable</label>
                        <label><input type="radio" id="{{lab.lab}}-disable" ng-model="lab.enabled" value="" name="{{lab.lab}}" ng-click="changeSetting(lab.lab, 'off')"> Disable</label>
                        <div id="email-feedback">
                            <a href="" ng-click="openFeedbackForm(lab.lab, lab.disp_name)">Email Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
