<div class="modal-header">
    <h3 class="modal-title">Statement Profiling</h3>
</div>
<div class="modal-body">
<form class="form plProfiler-form">
    <div class="form-group">
        <textarea ng-model="pgQuery" class="form-control" placeholder="select statement_to_profile(param_1, param_2)"></textarea>
        <span class="required-plprofiler-form">*</span>
    </div>
    <div class="form-group">
        <input type="text" ng-model="pgTitle" required class="form-control" placeholder="Report Title (Optional)">
    </div>
     <div class="form-group">
        <input type="text" ng-model="pgDesc" class="form-control" placeholder="Report Desc (Optional)">
    </div>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="!pgQuery" ng-click="generateReport()">Execute</button>
</div>