<div class="updateModal">
<div class="modal-header">
    <h2 class="modal-title" id="updateModalLabel">Updates</h2>
</div>
<div ng-click="cancel()" class="close-modal" data-dismiss="modal" aria-hidden="true">
    <div class="lr">
        <div class="rl">
        </div>
    </div>
</div>
<div class="container-fluid" ng-show="loadingSpinner">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="well">
                <i class="fa fa-spinner fa-2x  fa-pulse"></i>&#160;&#160;&#160;Checking for updates..
            </div>
        </div>
    </div>
</div>
<div class="modal-body" ng-show="body">
    <p ng-hide="noUpdates">Select the components you want to update. (Or All)</p>
    <div class="container-fluid">
        <!-- /.box-header -->
        <div class="row" id="updatesTable" ng-hide="noUpdates">
            <div style="border-bottom: 2px solid #f4f4f4;width: 100%;height: 30px;vertical-align: middle;">
                <div class="col-md-2 col-xs-2"></div>
                <div class="col-md-4 col-xs-4"><strong>Component</strong></div>
                <div class="col-md-5 col-xs-5"><strong>Description</strong></div>
            </div>
            <div class="col-md-12 col-xs-12" id="updatesTableTbody " ng-repeat="(key, value) in components" ng-if="value.updates>0 && value.component != 'bam2'">
                <div class="component_box" id="{{value.component}}">
                    <div class="col-md-2 col-xs-2">
                        <input type="checkbox" ng-model="value.selected" ng-checked="selectedComp.component == value.component">
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a ng-if="value.category != 1" ui-sref="components.detailsView({component:value.component}) " ng-click="cancel()">
                                    {{value.component}}
                                </a>
                        <a ng-if="value.category == 1" ui-sref="components.detailspg95({component:value.component}) " ng-click="cancel()">
                                    {{value.component}}
                                </a>

                    </div>
                    <div class="col-md-5 col-xs-5">update {{value.version}} to {{value.current_version}}</div>
                </div>
                <div class="row" ng-show="value.installation != undefined" style="width:100%;height:50px">
                    <div>
                        <div ng-show="value.installationRunning != undefined" class="col-md-4 col-xs-4">
                            {{value.installationStart.msg}}
                        </div>
                        <div class="col-md-4 col-xs-4" ng-show="value.installationRunning != undefined">
                            <progressbar value="value.progress"></progressbar>
                            <button class="btn btn-default btn-xs center-block" ng-click="cancelInstallation('cancelInstall') ">Cancel</button>
                        </div>
                        <div class="col-md-1 col-xs-1" ng-show="value.installationRunning != undefined">
                            {{value.installationRunning.pct}}%
                        </div>
                        <div class="col-md-3 col-xs-3" ng-show="value.installationRunning != undefined">
                            {{value.installationRunning.mb}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row components-update-msg" ng-show="noUpdates">
        <div class="well">
            <p class="lead">All installed components are up-to-date. </p>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="selectedUpdate()" ng-hide="noUpdates">Update</button>
        </div>
        <div class="row" ng-hide="hideLatestInstalled">
            <uib-accordion>
                <uib-accordion-group is-open="uibStatus.newComponents">
                  <uib-accordion-heading>
                    <span> Components installed/updated in last 30 days
                    <i class="pull-right glyphicon" ng-class="{'fa fa-plus': !uibStatus.newComponents, 'fa fa-minus': uibStatus.newComponents}"></i>
                    </span> 
                  </uib-accordion-heading>
            
                <div class="box-body update-modal-table-header">
                    <div class="col-md-4 col-xs-4"><strong>Installed/Updated Date</strong></div>
                    <div class="col-md-4 col-xs-4"><strong>Component Type</strong></div>
                    <div class="col-md-4 col-xs-4"><strong>Component</strong></div>
                </div>
                <div class="col-md-12 col-xs-12 update-modal-table" id="updatesTableTbody " ng-repeat=" value in components | toArray:false | orderBy : 'install_date' : true" ng-if="value.is_updated == 1  && value.component != 'bam2' ">
                    <div class="component_box" id="{{value.component}}">
                        <div class="col-md-4 col-xs-4">
                            <span>{{value.install_date}}</span>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <span>{{value.category_desc}}</span>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <a ng-if="value.category != 1" ui-sref="components.detailsView({component:value.component}) " ng-click="cancel()">
                                {{value.component}}-{{value.version}}
                            </a>
                            <a ng-if="value.category == 1" ui-sref="components.detailspg95({component:value.component}) " ng-click="cancel()">
                                {{value.component}}-{{value.version}}
                            </a>
                        </div>
                    </div>
                </div>
                </uib-accordion-group>    
            </uib-accordion>

        </div>
        <div class="row components-update-msg" ng-hide="!hideLatestInstalled">
        <div class="well">
            <p class="lead">No components installed/updated in the last 30 days </p>
        </div>
        </div>

        <div class="row" ng-if="hideNewComponents">
            <uib-accordion>
                <uib-accordion-group is-open="uibStatus.installedComponents">
                  <uib-accordion-heading>
                    <span> New components released in the last 30 days 
                    <i class="pull-right glyphicon" ng-class="{'fa fa-plus': !uibStatus.installedComponents, 'fa fa-minus': uibStatus.installedComponents}"></i>
                    </span> 
                  </uib-accordion-heading>
                    <div class="box-body update-modal-table-header">
                        <div class="col-md-4 col-xs-4"><strong>Release Date</strong></div>
                        <div class="col-md-4 col-xs-4"><strong>Component Type</strong></div>
                        <div class="col-md-4 col-xs-4"><strong>Component</strong></div>
                    </div>
                    <div class="col-md-12 col-xs-12 update-modal-table" id="updatesTableTbody " ng-repeat="(key, value) in components | toArray:false | orderBy : 'release_date' : true" ng-if="value.is_new == 1 && value.component != 'bam2' ">
                        <div class="component_box" id="{{value.component}}">
                            <div class="col-md-4 col-xs-4">
                                <span>{{value.release_date}}</span>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <span>{{value.category_desc}}</span>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <a ng-if="value.category != 1" ui-sref="components.detailsView({component:value.component}) " ng-click="cancel()">
                                    {{value.component}}-{{value.version}}
                                </a> 
                                <a ng-if="value.category == 1" ui-sref="components.detailspg95({component:value.component}) " ng-click="cancel()">
                                {{value.component}}-{{value.version}}
                                </a>                   
                            </div>
                        </div>
                    </div>
                </uib-accordion-group>    
             </uib-accordion>

        <!-- /.box -->
        <!-- /.box -->
    </div>
    <div class="row components-update-msg" ng-if="!hideNewComponents">
        <div class="well">
            <p class="lead">No new components released in the last 30 days </p>
        </div>
    </div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>