<section class="content-header">
    <server-info-details title="Package Manager"></server-info-details>
    <div class="components-update-button-wrapper">
        <label>
            <input type="checkbox" ng-model="isList" ng-click="setTest()">&nbsp; Show test components</input>
        </label>
        &nbsp;
        &nbsp;
        <label>
            <input type="checkbox" ng-model="showInstalled" ng-disabled="disableShowInstalled" ng-click="installedComps()"></input> Show installed only
        </label>
        &nbsp;
        &nbsp;
        <button ng-click="open('manual')" class="btn btn-default" type="button" ng-if="updateSettings == 'manual'"> Check for updates now</button>         
    </div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="8000" close="closeAlert()" class="uib-text">{{alert.msg}}</uib-alert>
</section>

<span id="components"></span>
<section class="content">
    <div ng-if="loading" style="position: absolute;width: 100px; height: 50px; top: 50%;left: 50%; margin-left: -50px; margin-top: -25px;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
        <span><h3>Loading...</h3></span>
    </div>
    <span ng-if="retry" style="text-align: center;"> <h4>Cannot connect to PGC. Retrying connection ... </h4> </span>
    <div ng-if="nothingInstalled" class="jumbotron" style="background-color: #fff; margin-top: 15px; text-align: center;"> <h3> You haven't installed anything yet</h3>
    </div>
    <div ng-if="!loading && !retry">
        <div ng-repeat="(key, value) in components | groupBy: 'category_desc'">
            <div class="box-header" ng-if="key != 'Extensions'">
                <h3 class="box-title" ng-bind="key" ng-if="value.length"></h3>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="c in value" ng-if="c.category_desc == 'PostgreSQL'">
                    <i class="fa fa-check-circle-o fa-2x pull-right installedSymbol" ng-if="c.status == 'Installed'|| c.status == 'NotInitialized'"></i>
                    <span class="update-component-arrow-wrapper" tooltip-append-to-body="true" uib-tooltip="New version available: {{c.current_version}}" ng-if="c.updates>0">
                        <i class="fa fa-arrow-circle-down fa-2x" id="updateIcon" style="color: #FF8A21"></i>
                    </span>
                    <span class="test-comp-icon" ng-if="c.stage != 'prod'" tooltip-append-to-body="true" uib-tooltip="Test Component"></span>
                    <div ng-class="c.extensionOpened && extensionsList.length ? 'select-comp-area' : 'comp-area'" ng-click="getExtensions(c.component, $index)">
                        <img class="comp-img img-responsive" ng-src="assets/img/component-logos/{{ c.component }}.png"  err-src="assets/img/component-logos/no_img.png" alt="">
                        <div class="caption">
                            <div style="white-space: nowrap; text-align: center;">
                                <h5>
                                    <a href="#/details-pg/{{c.component}}">{{c.disp_name}}</a>
                                </h5>
                            </div>
                            <div ng-class="c.extensionOpened ? 'expandExt' : ''" ng-if="extensionsList.length">
                                <h5 ng-if="c.extensionOpened">
                                    <strong>Extensions</strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row extensions-row" ng-if="$index == 1 && extensionsList.length">
                <div class="col-md-2 col-sm-3 col-xs-6 extensions-area" ng-click="openDetailsModal(ext.component)" style="width: 11.499999995% ; padding: 13px;" ng-repeat="ext in extensionsList">
                    <span class="badge new-comp-wrapper" ng-if="ext.is_new == 1 && ext.status == 'NotInstalled'" style="position: absolute;" tooltip-append-to-body="true" uib-tooltip="Release date: {{ ext.release_date }}">New</span>
                    <i class="fa fa-check-circle-o pull-right installedSymbol" ng-if="ext.status == 'Installed'|| ext.status == 'NotInitialized'" style="position: absolute; margin-left: 95px"></i>
                    <span class="update-component-arrow-wrapper" style="position: absolute;" tooltip-append-to-body="true" uib-tooltip="New version available: {{ext.current_version}}" ng-if="ext.updates>0">
                        <i class="fa fa-arrow-circle-down" id="updateIcon" style="color: #FF8A21"></i>
                    </span>
                    <span class="test-comp-icon" ng-if="ext.stage != 'prod'" tooltip-append-to-body="true" uib-tooltip="Test Component"></span>
                    <div class="extension-area-comp">
                        <img class="comp-img img-responsive ext-img" ng-src="assets/img/component-logos/{{ ext.modifiedName }}.png"  err-src="assets/img/component-logos/no_img.png" alt="">
                        <div class="description-style">
                            <h5 style="margin-bottom: 4px;">
                                <a>{{ext.disp_name}}</a>
                            </h5>
                            <i>{{ext.short_desc}}</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row non-pg-comp-row">
                <div class="col-md-2 col-sm-3 col-xs-6" ng-click="openDetailsModal(c.component)" style="width: 11.499999995% ; padding: 0px 13px 13px 13px;" ng-repeat="c in value" ng-if="c.category_desc != 'PostgreSQL' && c.category_desc != 'Extensions' && c.component != 'devops' && c.component != 'bam2'">
                    <span class="badge new-comp-wrapper" ng-if="c.is_new == 1 && c.status == 'NotInstalled'" tooltip-append-to-body="true" uib-tooltip="Release date: {{ c.release_date }}" style="position: absolute;">New</span>
                    <i class="fa fa-check-circle-o pull-right installedSymbol" ng-if="c.status == 'Installed'|| c.status == 'NotInitialized'" style="position: absolute; margin-left: 95px"></i>
                    <span class="update-component-arrow-wrapper" style="position: absolute;" tooltip-append-to-body="true" uib-tooltip="New version available: {{c.current_version}}" ng-if="c.updates>0">
                        <i class="fa fa-arrow-circle-down" id="updateIcon" style="color: #FF8A21"></i>
                    </span>
                    <span class="test-comp-icon" ng-if="c.stage != 'prod'" tooltip-append-to-body="true" uib-tooltip="Test Component"></span>
                    <div class="extension-area-comp">
                        <img class="comp-img ext-img img-responsive" ng-src="assets/img/component-logos/{{ c.component }}.png"  err-src="assets/img/component-logos/no_img.png" alt="">
                        <div class="description-style">
                            <h5 style="margin-bottom: 4px;">
                                <a>{{c.disp_name}}</a>
                            </h5>
                            <i>{{c.short_desc}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>