<section class="content-header">
    <server-info-details title="Components"></server-info-details>
    <div class="components-update-button-wrapper">
        <input type="checkbox" ng-model="isList" ng-click="setTest()">&nbsp; Show test components</input>
        &nbsp;
        &nbsp;
        <input type="checkbox" ng-model="showInstalled" ng-disabled="disableShowInstalled" ng-click="installedComps()"></input> Show installed only
        &nbsp;
        &nbsp;
        <button ng-click="open('manual')" class="btn btn-default" type="button" ng-if="updateSettings == 'manual'"> Check for updates now</button>         
    </div>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="8000" close="closeAlert()" class="uib-text">{{alert.msg}}</uib-alert>
</section>

<span id="components"></span>
<section class="content">
    <div ng-if="loading" style="position: absolute;width: 100px; height: 50px; top: 50%;left: 50%; margin-left: -50px; margin-top: -25px;">
        <i class="fa fa-cog fa-spin fa-5x fa-fw margin-bottom"></i>
        <span><h3>Loading...</h3></span>
    </div>
    <span ng-if="retry" style="text-align: center;"> <h4>Cannot connect to PGC. Retrying connection ... </h4> </span>
    <div ng-if="nothingInstalled" class="jumbotron" style="background-color: #fff; margin-top: 15px; text-align: center;"> <h3> You haven't installed anything yet</h3></div>
    <div class="masonry" ng-if="!loading && !retry">
        <div ng-repeat="(key, value) in components | groupBy: 'category_desc'" class="item">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" ng-bind="key"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="serversTable">
                        <div class="row component_head_box">
                            <div class="col-md-6 col-sm-6 col-xs-6"><strong>Component</strong></div>
                            <div class="col-md-3 col-sm-3 col-xs-3"><strong>Installed</strong></div>
                            <div class="col-md-3 col-sm-3 col-xs-3"><strong>Actions</strong></div>

                        </div>
                        <div id="serversTableTbody " ng-repeat="c in value ">
                            <div ng-if="c.component != 'bam2'" class= "row component_box">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="comp-name" ng-if="c.category !=  1 ">
                                        <a class="serversTableTbody-component--link" tooltip-append-to-body="true" uib-tooltip="{{ c.short_desc }}" ui-sref="components.detailsView({component:c.component}) " ng-bind = "(c.component)+'-'+(c.version)">    
                                        </a>
                                        <span class="badge new-comp-wrapper" ng-if="c.is_new == 1 && c.status == 'NotInstalled'" tooltip-append-to-body="true" uib-tooltip="Release date: {{ c.release_date }}">New</span>
                                        <span class="update-component-arrow-wrapper" tooltip-append-to-body="true" uib-tooltip="New version available: {{c.current_version}}" ng-if="c.updates>0">
                                            <i class="fa fa-arrow-circle-down" id="updateIcon" style="color: #FF8A21"></i>
                                        </span>
                                        <span class="test-comp-icon" ng-if="c.stage != 'prod'" tooltip-append-to-body="true" uib-tooltip="Test Component"></span>
                                    </div>
                                    <div class="comp-name" ng-if="c.category ==  1">
                                        <a class="serversTableTbody-component--link" tooltip-append-to-body="true" uib-tooltip="{{ c.short_desc }}" ui-sref="components.detailspg95({component:c.component}) " ng-bind = "(c.component)+'-'+(c.version)">
                                        </a>
                                        <span class="badge new-comp-wrapper" ng-if="c.is_new == 1 && c.status == 'NotInstalled'" tooltip-append-to-body="true" uib-tooltip="Release date: {{ c.release_date }}">New</span>
                                        <span class="update-component-arrow-wrapper" tooltip-append-to-body="true" uib-tooltip="New version available: {{c.current_version}}" ng-if="c.updates>0">
                                            <i class="fa fa-arrow-circle-down" id="updateIcon" style="color: #FF8A21"></i>
                                        </span>
                                        <span class="test-comp-icon" ng-if="c.stage != 'prod'" tooltip-append-to-body="true" uib-tooltip="Test Component"></span>
                                    </div>
                                    
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                <i style="color:green; " class="fa fa-check-circle-o fa-2x " ng-if="c.status == 'Installed' && c.removing == undefined || c.status == 'NotInitialized' && c.removing == undefined && c.init == undefined "></i><i class='fa fa-spinner fa-2x  fa-pulse' ng-if="c.removing || c.init">
                                </i>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left: 10px;">
                                    <a class="btn btn-default" ng-click="compAction( 'install', c.component) " id="install" ng-if="c.status == 'NotInstalled'" ng-disabled=" c.installation != undefined">Install</a>
                                    <a class="btn btn-default" ng-click="compAction( 'remove', c.component) " id="install" ng-if="c.status == 'Installed' && c.updates == 0 " ng-disabled=" c.removing != undefined">Remove</a>
                                    <div class="btn-group " uib-dropdown id="install" ng-if="c.status == 'NotInitialized'">
                                    <button id="split-button " type="button" ng-click="openInitPopup(c.component)" ng-disabled="c.init != undefined || c.removing != undefined" class="btn btn-default ">Initialize</button>
                                        <button type="button " class="btn btn-default " uib-dropdown-toggle ng-disabled="c.init != undefined || c.removing != undefined">
                                            <span class="caret "></span>
                                            <span class="sr-only ">Split button!</span>
                                        </button>
                                        <ul uib-dropdown-menu role="menu " aria-labelledby="split-button ">
                                            <li ng-if="c.updates > 0" role="menuitem "><a  ng-click="compAction( 'update', c.component) " href="" ng-hide="{{c.component=='bam2'}}">Update</a></li>
                                            <li role="menuitem "><a ng-click="compAction( 'remove', c.component) " href="" ng-hide="{{c.component=='bam2'}}">Remove</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group" uib-dropdown ng-if="c.updates > 0 && c.status != 'NotInitialized'">
                                            <button id="split-button " type="button " class="btn btn-default" ng-click="compAction( 'update', c.component) " ng-disabled="c.installation != undefined || c.removing != undefined">Update</button>
                                            <button type="button " class="btn btn-default" uib-dropdown-toggle ng-disabled="c.installation != undefined || c.removing != undefined">
                                                <span class="caret "></span>
                                                <span class="sr-only ">Split button!</span>
                                            </button>
                                            <ul uib-dropdown-menu role="menu " aria-labelledby="split-button ">
                                                <li role="menuitem "><a ng-click="compAction( 'remove', c.component) " href="">Remove</a></li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-if="c.installation != undefined" >
                                <div>

                                    <div style="margin-left:10px;margin-top:20px" ng-if="c.installationDependents != undefined"><i class="fa fa-refresh fa-spin" style='margin-right:2px'></i><strong> Installing dependencies...</strong> &nbsp;<button class="btn btn-default btn-xs" ng-click="cancelInstallation('cancelInstall') " >Cancel</button></div>
                                    <div style="margin-left:10px;margin-top:20px" ng-if="c.installationStart.status =='start' && c.installationStart.state == 'unpack'"><i class="fa fa-circle-o-notch fa-spin" style='margin-right:2px'></i><strong> Unpacking </strong></div>
                                    <div style="margin-left:10px;margin-top:20px" ng-if="c.installationStart.status =='start' && c.installationStart.state == 'download'"><i class="fa fa-circle-o-notch fa-spin" style='margin-right:2px'></i><strong> Downloading </strong></div>

                                    <br />
                                    <div ng-if="c.installationRunning != undefined && c.installationStart.file" class="col-md-4 col-xs-4">
                                        file:{{c.installationStart.file || c.installationStart.msg}}
                                    </div>
                                    <div ng-if="c.installationRunning != undefined && c.installationStart.msg && c.installationStart.state=='update'" class="col-md-4 col-xs-4">
                                        {{c.installationStart.msg}}
                                    </div>
                                    <div class="col-md-4 col-xs-4" ng-if="c.installationRunning != undefined">
                                        <progressbar value="c.progress"></progressbar>
                                        <button class="btn btn-default center-block btn-xs" ng-click="cancelInstallation('cancelInstall') ">Cancel</button>
                                    </div>
                                    <div class="col-md-1 col-xs-1" ng-if="c.installationRunning != undefined">
                                        {{c.installationRunning.pct}}%
                                    </div>
                                    <div class="col-md-3 col-xs-3" ng-if="c.installationRunning != undefined">
                                        {{c.installationRunning.mb}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
        </div>
</section>